.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 992px) {
 .cards {
    -webkit-box-pack: inherit;    -ms-flex-pack: inherit;    justify-content: inherit;}
}

@media screen and (max-width: 678px) {

.cards {
    -webkit-box-pack: center;    -ms-flex-pack: center;    justify-content: center;}
}