.intro__title {
    margin: 0;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient( 170.9deg, #c3a882 -11.53%, #7685aa 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 130%;
    letter-spacing: 0.01em;
}

.intro {
    width: 100%;
    height: 920px;
/* position: relative; */
}

.intro__subdiv {
    /* position: absolute;
    top: 0;
    left: 0; */
    background-image: url(../../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.intro__img {
    display: block;
    /* margin: 0 auto; */
}

.intro__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
            align-items: flex-end;
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.intro__subtitle {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 145%;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 20px;
    background: linear-gradient( 170.9deg, #c3a882 -11.53%, #7685aa 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro__subtext {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin: 0;
    margin-bottom: 40px;
}

.intro__button {
    display: block;
    background: #DFC7A8;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    border: none;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    width: 255px;
    height: 60px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
}

.intro__caption-box_oth {
    display: none;
}

.intro__button:hover, .presentation__button:active, .presentation__button:focus {
    background-color: transparent;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

.intro__description-box {
    margin-bottom: 90px;
}

.intro__caption-box {
    margin-bottom: 90px;
}

.intro__description-box::before {
    content: "";
    background-image: url(../../img/quotes.svg);
    width: 16px;
    height: 11px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 29px;
}

.intro__name {
    margin: 0;
    background: linear-gradient( 170.9deg, #c3a882 -11.53%, #7685aa 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 145%;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.intro__job {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
}

@media screen and (max-width: 1191px) {
.intro__box {
    max-width: 940px;
}
}

@media screen and (max-width: 992px) {
.intro__box {
    padding-left: 10px;
    padding-right: 10px;
}

.intro__img {
position: absolute;
right: -200px;
}

.intro__caption-box {
    display: none;
}

.intro__caption-box_oth {
    display: block;
}

.intro__job {
    margin-bottom: 50px;
}
}