.page {
 font-family: "Graphik LCG", Arial, sans-serif;
  color: white;
  /* margin: 0 auto; */
  /* background: linear-gradient(
123.14deg, #07080A -18.14%, #15171B 362.3%);  */
background: linear-gradient(to bottom, #142040, #000a23);
margin: 0;
width: 100vw;
overflow-x: hidden;

}



.page__subdiv {
  background-image: url(../../img/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-bottom: 150px;
  position: relative;
  background-position-y: -100px;
}

.page__content {
  overflow: hidden;

}

@media screen and (max-width: 1191px) {
  .page__subdiv{
    background-image: url(../../img/backtouch.png);
    margin-bottom: 130px;
  }
}
@media screen and (max-width: 992px) {
  .page__subdiv{
    background-image: url(../../img/backtouch.png);
    margin-bottom: 110px;

  }
}

@media screen and (max-width: 678px) {
  .page__subdiv{
    background-image: url(../../img/backmobile.png);
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 340px) {
  .page__subdiv{
    margin-bottom: 80px;
  }
}
