<div class="footerbg">
        <footer id="footer" class="footer">
            <div class="footer__firstbox">
                <div class="footer__cont">
                    <p class="footer__text footer__info_center">Краснодарский край, г. Сочи,<br>Морской переулок, д.
                        1/1а</p>
                    <a class="footer__link-other footer__link-map footer__info_center" target="_blank"
                        href="https://yandex.ru/maps/-/CCUQmZSwkC">СМОТРЕТЬ НА
                        КАРТЕ</a>
                </div>
                <div class="footer__cont footer__cont_right">
                    <a class="footer__link footer__info_center" href="tel:+7 (968) 300-22-30">+7 (968) 300-22-30</a>
                    <a class="footer__link footer__info_center" target=_blank
                        href="mailto:office@nedvex.ru">office@nedvex.ru</a>
                    <a class="footer__link footer__info_center" target=_blank
                        href="https://www.instagram.com/nedvexconsulting/">@nedvexconsulting</a>
                </div>
            </div>
            <div class="footer__line"></div>

            <div class="footer__secondbox">

                <div class="footer__box">
                    <a class="footer__info footer__info_link footer__link_pol" href="https://nedvex.ru/privacy" target="_blank">Политика
                        конфиденциальности</a>
                    <p class="footer__info">Не является публичной офертой</p>
                </div>
                <div class="footer__box footer__box_center">
                    <p class="footer__info">ОГРН 1162366056830</p>
                    <p class="footer__info footer__info_min">ИНН 2318043183</p>
                </div>
                <div class="footer__box">
                    <p class="footer__info  footer__info_oferta">2021. Все права защищены</p>
                </div>
            </div>

            <div class="footer__secondbox-other">
                <a class="footer__info footer__info_center footer__info_grey footer__link_pol" href="https://nedvex.ru/privacy">Политика
                    конфиденциальности</a>
                    <p class="footer__info">Не является публичной офертой</p>
                <p class="footer__info footer__info_center">2021. Все права защищены</p>
                <p class="footer__info footer__info_center">ОГРН 1162366056830</p>
                <p class="footer__info footer__info_center footer__info_min">ИНН 2318043183</p>
            </div>
        </footer>
    </div>