<form class="form-menu form-menu_large">
    <div class="form-menu__inputs">
        <label class="form-menu__label form-menu__label_hov form-menu__label_checked">
                            Все вакансии
                            <input checked class="form-menu__input" name="type" type="radio" value="all">
        </label>
        <label class="form-menu__label form-menu__label_hov">
                            Продажи
                            <input class="form-menu__label_hov form-menu__input" name="type" type="radio" value="Продажи">
        </label>
        <label class="form-menu__label form-menu__label_hov">
                            Финансы
                            <input class="form-menu__label_hov form-menu__input" name="type" type="radio" value="Финансы">
        </label>
        <label class="form-menu__label form-menu__label_hov">
                            Маркетинг
                            <input class="form-menu__input" name="type" type="radio" value="Маркетинг">
        </label>
        <label class="form-menu__label form-menu__label_hov">
            <input class="form-menu__input" name="type" type="radio" value="Девелопмент">
                            Девелопмент
                        </label>
        <label class="form-menu__label form-menu__label_hov">
            <input class="form-menu__input" name="type" type="radio" value="Управление персоналом">
                            Управление персоналом
                        </label>
        <label class="form-menu__label form-menu__label_hov">
            <input class="form-menu__input" name="type" type="radio" value="Снабжение">
                            Снабжение
                        </label>
    </div>
</form>