<form class="form-menu form-menu_large">
    <div class="form-menu__inputs">
        <label class="form-menu__label form-menu__label_hov form-menu__label_checked">
            <span>Все вакансии</span>
            <input checked class="form-menu__input" name="type" type="radio" value="all">
        </label>
        {%- for category in collections.categories-%}
            <label class="form-menu__label form-menu__label_hov">
                <span>{{category.data.title}}</span>
                <input class="form-menu__label_hov form-menu__input" name="type" type="radio" value="{{category.data.title}}">
            </label>
        {%- endfor -%}
    </div>
</form>