 <header class="header">
        <div class="header__visible-wrapper">
            <div class="header__menu">
                <a href="https://nedvex.ru/" class="header__link">Главная</a>
                 <a class="header__link" href="https://nedvex.ru/objects/">Объекты</a>
        <a class="header__link" href="#presentation">О нас</a>
            </div>
            <div class="header__menu-burger-wrapper">
            <div class="header__menu-burger">
            </div>
        </div>
            <a class="header__logo-wrapper" href="https://nedvex.ru/">
                <div class="header__logo"></div>
            </a>
            <div class="header__box header__box_phone">
                <div class="header__icon">
                    <a class="header__icon-phone" href="tel:+7 (968) 300-22-30"></a>
                </div>
                <a class="header__phone" href="tel:+7 (968) 300-22-30">+7 (968) 300-22-30</a>
            </div>
        </div>
        <div class="header__hidden-wrapper">
            <a href="https://nedvex.ru/" class="header__link header__link_hidden">Главная</a>
            <a href="https://nedvex.ru/objects/" class="header__link header__link_hidden">Объекты</a>
            <a  href="https://nedvex.ru/job/#main" class="header__link header__link_about header__link_hidden">О нас</a>

            <div class="header__box-hidden">
                <div class="header__icon_dark header__icon_dark-bottom">
                    <a class="header__icon-phone" href="tel:+7 (968) 300-22-30"></a>
                </div>
                <a class="header__phone header__phone_dark" href="tel:+7 (968) 300-22-30">+7 (968) 300-22-30</a>
            </div>
        </div>
    </header>