<section class="intro">
    <div class="intro__subdiv">
        <h1 class="intro__title">Присоединяйся<br> к команде Nedvex</h1>
     <!--    <div class="intro__box">
            <div class="intro__description-box">
                <span class="intro__subtitle">Мы&nbsp;ценим&nbsp;людей,&nbsp;нацеленных<br> на&nbsp;результат&nbsp;и&nbsp;с&nbsp;позитивным<br> взглядом на жизнь,</span>
                <p class="intro__subtext">тех, кто готов обучаться, расти и брать<br> ответственность на себя. Если вы<br> готовы добиваться поставленных<br> целей вместе с нами, будем рады<br> видеть вас в нашей команде</p>
                <div class="intro__caption-box_oth">
                    <h3 class="intro__name">Галимова Юлия<br> Артуровна</h3>
                    <p class="intro__job intro__job_oth">Генеральный директор</p>
                </div>
                <a class="intro__button" href="#main">ВСЕ ВАКАНСИИ</a>
            </div>
            <img class="intro__img" src="../../static/img/ceo.png" alt="Галимова Юлия Артуровна">
            <div class="intro__caption-box">
                <div class="intro__caption-line">
                    <h3 class="intro__name">Галимова Юлия Артуровна</h3>
                    <p class="intro__job">Генеральный директор</p>
                </div>
            </div>
        </div>  -->
    </div>
</section>