<section class="presentation"  id="presentation">
    <div class="presentation__box">
        <h2 class="presentation__title">Узнайте&nbsp;больше<br>о Nedvex <br>из презентации</h2>
        <a target="_blank" href="../../static/Nedvex.pdf" class="presentation__button">Скачать</a>
    </div>
    <img class="presentation__img" src="../../static/img/presa.png" alt="презентация">
</section>