.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  overflow: hidden;
}

.header__menu-burger {
  display: none;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* width: 14%; */
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__icon {
  background-image: url(../../img/phone.svg);
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

.header__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-right: 22px;
}

.header__link:hover, .header__link:active, .header__link:focus {
  color: white;
  text-decoration: underline;
}

.header__phone:hover {
  color: white;
  text-decoration: underline;
}

.header__link:last-child {
  margin-right: 0px;
}

.header__icon-phone {
  width: 100%;
  height: 100%;
  display: block;
}

.header__phone {
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #ffffff;
}

@media screen and (max-width: 1191px) {
  .header {
    max-width: 940px;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-top: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__menu-burger {
    display: block;
    background-image: url(../../img/menu.svg);
    width: 26px;
    height: 16px;
  }
  .header__menu {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 40px;
    padding-top: 25px;
  }

  .header__phone {
    display: none;
  }
}