<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Nedvex Group — оператор недвижимости в Сочи">
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer'
                        ? '&l=' + l
                        : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f
                    .parentNode
                    .insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-T6WJRD4');
        </script>
        <!-- End Google Tag Manager -->

        <meta name="keywords" content="Nedvex Nedvex Consulting Недвекс">
        <meta property="og:image" content="/img/logo.png">
        <meta name="format-detection" content="telephone=no">
        <title>{{title}} — Nedvex</title>
        <link rel="stylesheet" href="../../../static/style-vacancy.css">
        <link rel="shortcut icon" href="../../../static/img/favicon.png" type="image/x-icon">
        <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '3849965141793179');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=3849965141793179&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
    </head>

    <body class="page">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6WJRD4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

    {% include "./blocks/header.njk" %}
                    <div class="page__content">
    <section class="main">
     <!--   <a class="main__link" href="https://nedvex.ru/job/#main">Назад ко всем вакансиям</a> -->
        <h1 class="main__header">{{title}}</h1>
      <div class="main__wrapper">
        <div class="main__box">
            <div class="main__titles">
                <h2 class="main__title">Город</h2>
                <h2 class="main__title">Зарплата</h2> </div>
            <div class="main__titles">
                <h2 class="main__subtitle">{{city}}</h2>
                <h2 class="main__subtitle">{{salary}}</h2>
            </div>
            </div>
            <div class="main__descr-box">
                <h2 class="main__title main__title_descr">Описание вакансии</h2>
       <div class="main__descr">{{description}}</div>
       </div>
        </div>
        <div class="main__container">
            <div class="main__demands">
                <h3 class="main__headline">Требования</h3>
                <ul class="main__description">
                    {%- for req in requirements-%}
                        <li class="main__item">{{req}}</li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="main__conditions">
                <h3 class="main__headline">Условия</h3>
                <ul class="main__description">
                    {%- for condition in conditions-%}
                        <li class="main__item">{{condition}}</li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="main__duties">
                <h3 class="main__headline">Обязанности</h3>
                <ul class="main__description">
                    {%- for resp in responsibilities-%}
                        <li class="main__item">{{resp}}</li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </section>

    {% include "./blocks/form.njk" %}
    {% include "./blocks/footer.njk" %}

    <div class="thanks-block">
        <div class="popup__container">
            <button class="popup__closedbutt popup__closedbutt_oth popup__clos-thanks"></button>
            <div class="popup__cont">
                <h2 class="popup__title ">Спасибо за вашу заявку!</h2>
                <p class="popup__subtitle popup__subtitle-thanks">Мы свяжемся с вами в&nbsp;ближайшее время</p>
            </div>
            <a href="index.html">
                <button class="popup__butt popup__butt_thanks">Вернуться на главную</button>
            </a>
        </div>
    </div>

  </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../../static/js-vacancy/jquery.maskedinput.min.js"></script>
    <!-- <script src="/js-vacancy/wow.min.js"></script> -->
    <script src="../../../static/js-vacancy/common.js"></script>
    <script src="../../../static/js-vacancy/commonoth.js"></script>
    <script src="../../../static/js-vacancy/index.js"></script>
    <script src="../../../static/js-vacancy/thanks.js"></script>
        <script src="../../../static/js-vacancy/header.js"></script>

    <script>
        let fileInput = document.querySelector('input[type=file]');
        let filenameContainer = document.querySelector('#filename');
        let dropzone = document.querySelector('.form__div');
        removeBtn = document.querySelector('.remove');

        fileInput.addEventListener('change', function () {
            filenameContainer.innerText = fileInput.value.split('\\').pop();
            dropzone.textContent = filenameContainer.textContent;
            removeBtn.classList.toggle("remove_open");
            dropzone.classList.toggle("form__div_padding");

        });

        removeBtn.addEventListener('click', function (e) {
            dropzone.textContent = 'И/или прикрепите файл';
            fileInput.value = '';
            removeBtn.classList.toggle("remove_open");
            dropzone.classList.toggle("form__div_padding");

        });

        fileInput.addEventListener('dragenter', function () {
            dropzone.classList.add('dragover');
            dropzone.classList.toggle("form__div_padding");
        });

        fileInput.addEventListener('dragleave', function () {
            dropzone.classList.remove('dragover');
            dropzone.classList.toggle("form__div_padding");
        });
    </script>

    <script>
        function noDigits(event) {
            if ("1234567890".indexOf(event.key) != -1) 
                event.preventDefault();
            }
    </script>

    <script>
        jQuery(document).ready(function ($) {
            $("form#data").submit(function (e) {
                event.preventDefault();
                var formData = new FormData(this);
                var test = checkForm();
                if (test) {
                    $.ajax({
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: "POST",
                        url: "/php/job.php",
                        data: formData,
                        success: function (msg) {
                            if (msg == 'OK') {
                                console.log("send")
location.href = "https://nedvex.ru/thanks.html";
                            } else {
                                console.log(msg)
                            }
                        }
                    });
                }
                return false;
            });
        });
    </script>

</body>

</html>