.intro__title {
    margin: 0;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    background: linear-gradient( 170.9deg, #c3a882 -11.53%, #7685aa 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 130%;
    letter-spacing: 0.01em;
}

.intro {
    width: 100%;
    overflow: hidden;
    /* height: 920px; */
    /* position: relative; */
}



.intro__subdiv {
    /* position: absolute;
    top: 0;
    left: 0; */
    background-image: url(../../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow-x: hidden;
}

.intro__img {
    display: block;
    object-fit: contain;
    padding-left: 30px;
    padding-right: 30px;
    /* margin: 0 auto; */
}

.intro__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
}

.intro__subtitle {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 145%;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 20px;
    background: linear-gradient( 170.9deg, #c3a882 -11.53%, #7685aa 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro__subtext {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin: 0;
    margin-bottom: 40px;
}

.intro__button {
    display: block;
    background: transparent;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    width: 300px;
    height: 60px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    font-size: 13px;
line-height: 150%;
border: 1px solid #DCDBD9;
box-sizing: border-box;
}

.intro__button_oth {
    display: none;
}

.intro__caption-box_oth {
    display: none;
}

.intro__button:hover, .presentation__button:active, .presentation__button:focus {
    background-color: #F5E6D1;
    border: 1px solid #F5E6D1;
    box-sizing: border-box;
    text-decoration: none;
    color: #010B24;
}

.intro__description-box {
    margin-bottom: 90px;
}

.intro__caption-box {
    margin-bottom: 90px;
}

.intro__description-box::before {
    content: "";
    background-image: url(../../img/quotes.svg);
    width: 16px;
    height: 11px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 29px;
}

.intro__name {
    margin: 0;
    background: linear-gradient( 170.9deg, #c3a882 -11.53%, #7685aa 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 145%;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.intro__job {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
}

@media screen and (max-width: 1191px) {
    .intro__box {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 992px) {
    .intro {
        max-width: 100%;
        overflow: hidden;
        /* padding-right: 10px; */
    }
    .intro__subdiv {
        padding-left: 10px;
    }
    .intro__title {
        margin-bottom: 40px;
    }
    .intro__img {
        width: 672px;
        height: auto;
    }
    .intro__box {
        padding-left: 0;
        padding-left: 90px;
    }
    /* .intro__img {
    min-width: 100%;
    max-width: 100%;
}  */
    .intro__description-box {
        min-width: 40%;
        max-width: 50%;
    }
    .intro__caption-box {
        display: none;
    }
    .intro__caption-box_oth {
        display: block;
    }
    .intro__job {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {

    .intro__title {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 678px) {
    .intro__img {
        /* width: 320px;
        height: 400px; */
        padding: 0;
        width: 305px;
        height: 363px;
        position: absolute;
        right: -120px;
        bottom: 0;
        z-index: -2;
    
    }

    .intro__name {
        font-size: 19px;
    }

    .intro__title {
        margin-bottom: 30px;
    }

.intro__button {
    margin-top: 40px;
    margin-bottom: 15px;
}
    .intro__box {
        align-items: center;
        padding-left: 0;
    }
  
    .intro__description-box {
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 0px;
    }
    .intro__job {
        margin-bottom: 0;
    }

    .intro__title {
        font-size: 37px;
        line-height: 130%;
    }

    
}


@media screen and (max-width: 400px) {
    .intro__subdiv {
        padding-right: 10px;
    }


    .intro__caption-box {
        display: block;
        margin-bottom: 0;
        background: #101A35;
        border-radius: 0px 0px 12px 12px;
        padding: 3px;
        text-align: center;
        margin-top: -60px;
    }
  
    .intro__img {
        width: 320px;
        height: 400px;
        position: relative;
        right: 0;
    }

   
    .intro__caption-line {
        border: 0.5px solid #FFFFFF;
        border-radius: 0px 0px 12px 12px;
        padding: 8px 15px 10px 15px;
    }
    .intro__button {
        display: none;
    }
    .intro__button_oth {
        display: block;
        margin-top: 40px;
    }
    .intro__caption-box_oth{
        display: none;
    }

    .intro__box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
    }
}