.cards {
    display: flex;
    flex-wrap: wrap;
   /* justify-content: space-between; */
    /* align-content: space-around; */
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 992px) {
 .cards {
    justify-content: inherit;
}
}

@media screen and (max-width: 678px) {

.cards {
    justify-content: center;
}
}